/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap/scss/bootstrap';
 @import 'bootstrap-icons/font/bootstrap-icons';
 @import 'styles';

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F5F5F5; /* Beige color */

}

/* Footer */
.footer-custom {
  background-color: #F5F5F5; /* Beige color */
  color: #000; /* Adjust text color if needed */
  padding: 20px; /* Add padding for better spacing */
}


/* Navbar */
.navbar-custom {
  background-color: #F5F5F5; /* Beige color */
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
  color: #000; /* Adjust text color if needed */
}


/* Card styling */
.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Button styling */
.btn-outline-dark {
  transition: background-color 0.2s, color 0.2s;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #ffffff;
}

/* Text styling */
.card-body .fw-bolder {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.1rem;
  color: #6c757d;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .card {
      margin-bottom: 1.5rem;
  }
}

 