<!-- Footer-->
<footer class="py-5 footer-custom">
    <div class="container">
        <div class="row">
            <!-- Left section with brand logo and name -->
            <div class="col-md-4 text-start">
                <a class="navbar-brand text-dark" href="#">
                    😼 K I T T E N
                </a>
            </div>
            <!-- Middle section with address information -->
            <div class="col-md-4 text-center text-dark">
                <p class="m-0">
                    45 rue du Sourire<br>
                    77000 MEMECITY<br>
                    FRANCE
                </p>
            </div>
            <!-- Right section reserved for future use or additional information -->
            <div class="col-md-4 text-end text-dark">
                <!-- You can add any other information or links here -->
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center text-dark">
                <p class="m-0">&copy; Kitten Corporation 2024</p>
            </div>
        </div>
    </div>
</footer>