<!-- Header with background image -->
<header class="bg-dark py-5" style="background-image: url(<%= asset_path('cat-banner.jpg') %>); background-size: cover; background-position: center;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Kitten, les chatons qui te déçoivent !</h1>
        </div>
    </div>
</header>